*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f9f9f9;
  height: 100%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  opacity: 0.93;
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}

.container-all {
  position: absolute;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  float: left;
  margin: 10px;
  padding-right: 10px;
}

span {
  border-radius: 15px;
  bottom: 7px;
  font-size: 10px;
  height: 15px;
  padding: 3px;
  position: relative;
  right: 2px;
  width: 15px;
}

li a {
  color: #272727;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Navigation */
.menu-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 300px;
}

.menu-nav .name-plate {
  background-color: #272727;
  border-radius: 11px;
  color: #f9f9f9;
  display: none;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  padding: 10px 15px 10px 15px;
}

.menu-nav .blog-alert {
  background-color: #272727;
  border-radius: 11px;
  color: #f9f9f9;
  float: right;
  margin-left: 125px;
  margin-top: 15px;
  position: unset;
  padding: 10px 15px 10px 15px;
}

.menu-nav .pages {
  left: 20px;
  position: relative;
}

.menu-nav .menu {
  float: right;
  margin-top: 20px;
  margin-left: 50px;
}

.menu-nav .social-media {
  color: #272727;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 15px 10px 15px;
}

.name-plate:hover {
  background-color: #f9f9f9;
  border: #272727 solid 2px;
  color: #272727;
  padding: 8px 13px 8px 13px;
}

.fa-github:hover,
.fa-linkedin-in:hover,
.fa-codepen:hover {
  color: #eb1d1d;
}

.menu-effect:hover {
  border-bottom: #eb1d1d solid 2px;
  font-weight: 600;
}

.blog-alert:hover {
  background-color: #f9f9f9;
  border: #272727 solid 2px;
  color: #272727;
  padding: 8px 13px 8px 13px;
}

.button:hover {
  background-color: #f9f9f9;
  border: #272727 solid 2px;
  color: #272727;
}

li:hover {
  margin: 8px;
  padding-right: 8px;
}

/* Content Section */
.hero {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 90px;
  margin-left: 400px;
  position: relative;
  text-align: center;
}

.home-description {
  margin-top: 50px;
  margin-left: 200px;
  max-width: 275px;
}

h1 {
  color: #838080;
  font-size: 50px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: #eb1d1d solid 2px;
  padding-bottom: 10px;
}

h2 {
  color: #272727;
  margin-top: 20px;
}

h3 {
  color: #272727;
  margin-top: 10px;
}

.buttons {
  position: relative;
  top: 50px;
}

.button {
  font-size: 20px;
}

input[type="button" i] {
  -webkit-appearance: push-button;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #eb1d1d;
  border-radius: 10px;
  border-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f9f9f9;
  cursor: default;
  padding: 15px 45px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: pre;
}

.about-title {
  color: #838080;
  font-size: 50px;
  margin-left: 450px;
  margin-right: 450px;
  border-bottom: #eb1d1d solid 2px;
  padding-bottom: 10px;
  text-align: center;
}

.about-content {
  margin-top: 50px;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 50px 50px 50px;
}

.para {
  padding: 20px;
  color: #272727;
}

.projects-title {
  color: #838080;
  font-size: 50px;
  margin-left: 450px;
  margin-right: 450px;
  border-bottom: #eb1d1d solid 2px;
  padding-bottom: 5px;
  text-align: center;
}

.projects-description {
  font-weight: 400;
  margin-bottom: 50px;
  margin-left: 265px;
  margin-right: 265px;
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}

.projects-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px;
  margin-left: 275px;
  text-decoration: none;
}

.projects-content {
  padding-top: 50px;
}

.image {
  padding: 5px;
}

.thumbnail-description {
  margin: 50px 100px;
}

a {
  text-decoration: none;
  color: #272727;
}

.card-text {
  margin-top: 10px;
}

.card {
  border: #838080 solid 2px;
  padding: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #272727;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-content {
  background-color: #f9f9f9;
  margin: auto;
  width: 80%;
  height: 80%;
}

.modal-close {
  color: #272727;
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #838080;
  text-decoration: none;
  cursor: pointer;
}

.codeBase1 {
  background-color: #272727;
}

.codeBase1 .social-media {
  color: #f9f9f9;
}

.codeBase1 a {
  color: #f9f9f9;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/*# sourceMappingURL=style.css.map */