// Color variables
$a-black: #272727;
$a-bg-capacity: rgba(0, 0, 0, 0.4);
$a-bg-gray: #4a5353;
$a-darkgray: #838080;
$a-lightgray: #9c9898;
$a-red: #eb1d1d;
$a-white: #f9f9f9;
$code-blue: #3741d1;

// Color variables for code example html
$class: rgb(101, 101, 143);
$comment: rgba(86, 153, 86, 0.644);
$source: rgb(165, 122, 42);
$tag: rgb(56, 70, 151);
$text: rgb(235, 232, 232);

// Color variables for code example scss
$bracket: gold;
$declare-num: rgb(173, 185, 130);
$declare-text: rgb(153, 108, 66);
$selector: rgb(155, 137, 39);

// Color variables for code example scss
$condition: rgb(170, 87, 170);
$condition-brac: rgb(165, 65, 165);
$number: rgb(226, 222, 222);
$value: rgb(153, 108, 66);
$var: rgb(45, 45, 243);
$var-name: rgb(100, 144, 211);

// Start of styling
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $a-white;
  height: 100%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  opacity: 0.93;
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}

// .container-bg {
//   background-color: $a-white;
//   border-radius: 15px;
//   height: 90%;
//   left: 125px;
//   position: fixed;
//   top: 30px;
//   width: 80%;
// }

.container-all {
  position: absolute;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  float: left;
  margin: 10px;
  padding-right: 10px;
}

span {
  //background-color: $a-red;
  border-radius: 15px;
  bottom: 7px;
  font-size: 10px;
  height: 15px;
  padding: 3px;
  position: relative;
  right: 2px;
  width: 15px;
}

li a {
  color: $a-black;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
/* Navigation */
.menu-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 300px;

  .name-plate {
    background-color: $a-black;
    border-radius: 11px;
    color: $a-white;
    display: none;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px 15px 10px 15px;
  }

  .blog-alert {
    background-color: $a-black;
    border-radius: 11px;
    color: $a-white;
    float: right;
    margin-left: 125px;
    margin-top: 15px;
    position: unset;
    padding: 10px 15px 10px 15px;
  }

  .pages {
    left: 20px;
    position: relative;
  }

  .menu {
    float: right;
    margin-top: 20px;
    margin-left: 50px;
  }

  .social-media {
    color: $a-black;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 15px 10px 15px;
  }
}

// Navigation effects
.name-plate:hover {
  background-color: $a-white;
  border: $a-black solid 2px;
  color: $a-black;
  padding: 8px 13px 8px 13px;
}

.fa-github:hover,
.fa-linkedin-in:hover,
.fa-codepen:hover {
  color: $a-red;
}

.menu-effect:hover {
  border-bottom: $a-red solid 2px;
  font-weight: 600;
}

.blog-alert:hover {
  background-color: $a-white;
  border: $a-black solid 2px;
  color: $a-black;
  padding: 8px 13px 8px 13px;
}

.button:hover {
  background-color: $a-white;
  border: $a-black solid 2px;
  color: $a-black;
}

li:hover {
  margin: 8px;
  padding-right: 8px;
}

/* Content Section */
.hero {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 90px;
  margin-left: 400px;
  position: relative;
  text-align: center;
}

.home-description {
  margin-top: 50px;
  margin-left: 200px;
  max-width: 275px;
}

h1 {
  color: $a-darkgray;
  font-size: 50px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: $a-red solid 2px;
  padding-bottom: 10px;
}

h2 {
  color: $a-black;
  margin-top: 20px;
}

h3 {
  color: $a-black;
  margin-top: 10px;
}

.buttons {
  position: relative;
  top: 50px;
}

.button {
  font-size: 20px;
}

input[type="button" i] {
  -webkit-appearance: push-button;
  align-items: flex-start;
  background-color: $a-red;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: $a-white;
  cursor: default;
  padding: 15px 45px;
  text-align: center;
  user-select: none;
  white-space: pre;
}

// About page
.about-title {
  color: $a-darkgray;
  font-size: 50px;
  margin-left: 450px;
  margin-right: 450px;
  border-bottom: $a-red solid 2px;
  padding-bottom: 10px;
  text-align: center;
}

.about-content {
  margin-top: 50px;
}

.sections {
  display: flex;
  margin: 50px 50px 50px 50px;
}

.para {
  padding: 20px;
  color: $a-black;
}

//Projects Section

.projects-title {
  color: $a-darkgray;
  font-size: 50px;
  margin-left: 450px;
  margin-right: 450px;
  border-bottom: $a-red solid 2px;
  padding-bottom: 5px;
  text-align: center;
}

.projects-description {
  font-weight: 400;
  margin-bottom: 50px;
  margin-left: 265px;
  margin-right: 265px;
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}

.projects-thumbnail {
  display: flex;
  margin: 60px;
  margin-left: 275px;
  text-decoration: none;
}

.projects-content {
  padding-top: 50px;
}

.image {
  padding: 5px;
}

.thumbnail-description {
  margin: 50px 100px;
}

a {
  text-decoration: none;
  color: $a-black;
}

.card-text {
  margin-top: 10px;
}

.card {
  border: $a-darkgray solid 2px;
  padding: 10px;
}

//Modal and modal content
.modal {
  background-color: $a-bg-capacity; //default
  background-color: $a-black; //backup
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-content {
  background-color: $a-white;
  margin: auto;
  width: 80%;
  height: 80%;
}

//Close modal
.modal-close {
  color: $a-black;
  float: right;
  font-size: 22px;
  font-weight: bold;
}

//Modal hover
.modal-close:hover,
.modal-close:focus {
  color: $a-darkgray;
  text-decoration: none;
  cursor: pointer;
}

//Codebase 1

.codeBase1 {
  background-color: $a-black;

  .social-media {
    color: $a-white;
  }

  a {
    color: $a-white;
  }
}

//Codebase nav

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}
